.border-pane
{
    -fx-spacing: 8;
    -fx-padding: 10;
}

.vbox
{
    -fx-background-color: transparent;
}
.vbox .button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.vbox .button:hover{
    -fx-background-color: #0095c8;
}
.hbox
{
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.dialog-pane{
    -fx-background-color: #00678f;

}



.label{
    -fx-text-fill: white;
}