.workspace{
    -fx-background-color: #00678f;
    -fx-border-color: black;
    -fx-border-width: 2px;

}

.vbox{
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.hbox {
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-alignment: center-left;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
}
.grid-pane {
    -fx-padding: 10;
    -fx-spacing: 15;
    -fx-alignment: center-left;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-vgap: 8;
    -fx-hgap: 8;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab-pane .tab:selected
{
    -fx-background-color: #0095c8;
    -fx-text-fill: white;
}
.tabs{
    -fx-background-color: transparent;
    -fx-border-color: black;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: gray;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.split-pane{
    -fx-background-color: transparent;
    -fx-pref-height: inherit;
    -fx-pref-width: inherit;
}
.button{
    -fx-background-color: transparent;
}
.button:hover{
    -fx-background-color: #0095c8;

}
.column{
    -fx-pref-height: inherit;
    -fx-pref-width: inherit;
}

.label{
    -fx-text-fill: white;
}

.color-picker{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: black;
}

.table-view {
    -fx-background-color: #00678f;
}
.table-view .column-header{
    -fx-background-color: transparent;
    -fx-border-color: black;
}
.table-view .column-header-background {
    -fx-background-color: transparent;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .filler{
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.separator .line{
    -fx-background: black;
}

.bottom{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2px;
}
.scroll-pane{
    -fx-background-color: transparent;

}
.scroll-pane > .viewport{
    -fx-background-color: transparent;
}


